<ion-header-bar class="bar-stable">
    <h1 class="title">Random food</h1>
</ion-header-bar>
<ion-content style="text-align:center">
    <div class="bg">
        <div class="item item-divider">
            Food recommended is 
        </div>
        <div class="item item-text-wrap">
            <h1>{{ food.name }}</h1>
        </div>
        <div class="item item-divider">
            <button class="button button-block button-positive" ng-click="random()">
                 {{ text }}
            </button>
        </div>
    </div>
</ion-content>
